
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">LIFE ON MARS</h1>
          <p class="lead">Come join our New Martian Community</p>
      </div>
    </div>

    <div class="row feature text-center">
      <div class="col-12 col-sm">
        <h3>Reliable Atmosphere</h3>
        <br />
          <p>After many decades and many scientific breakthroughs, we have achieved natural atmosphereon Mars!<p>
      </div>

      <div class="col-12 col-sm">
        <h3>Wide Open Terrain</h3>
        <br />
        <p> Plenty of acreage for your desert ranch or beach front property! You read that right - after years of reshaping, Mars now has it's very own ocean!</p>


      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary btn-lg float-right" data-toggle="modal" data-target="#myModal">
      <i class="fas fa-rocket"></i><br />Take me to Mars!
      </button>

      </div>

      <div class="col-12 col-sm">
        <h3>Community</h3>
        <br />
        <p> Connected by the vision of a less populated, less polluted world - the New Martian Community is a chance to start fresh. Come, be amongst friends.</p>
      </div>
    </div>




